.fighting{ color: #C22E28; }
.normal{ color: #A8A77A; }
.flying{ color: #A98FF3; }
.poison{ color: #A33EA1; }
.ground{ color: #E2BF65; }
.rock{ color: #B6A136; }
.bug{ color: #A6B91A; }
.ghost{ color: #735797; }
.steel{ color: #B7B7CE; }
.fire{ color: #EE8130; }
.water{ color: #6390F0; }
.grass{ color: #7AC74C; }
.electric{ color: #F7D02C; }
.psychic{ color: #F95587; }
.ice{ color: #96D9D6; }
.dragon{ color: #6F35FC; }
.dark{ color: #705746; }
.fairy{ color: #D685AD; }

.grassland{ color: #7AC74C; }
.forest{ color: #49782d; }
.waters-edge{ color: #9db6ec; }
.sea{ color: #6390F0; }
.cave{ color: #B6A136; }
.mountain{ color: #E2BF65; }
.rough-terrain{ color: #705746; }
.urban{ color: #B7B7CE; }
.rare{ color: #F95587; }
